
/*!*********************	TITLE   ******************************************!*/
/*.property-tab-pane[data-name="general_sheet"] .title {*/
/*    display         : flex;*/
/*    justify-content : center;*/
/*    align-items     : center;*/
/*    padding         : 10px;*/
/*}*/
/*!*********************	TITLE - LEFT   ******************************************!*/
/*.property-tab-pane[data-name="general_sheet"] .title .left-zone {*/
/*    width : 250px;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .left-zone .logo-pathfinder {*/
/*    background-image    : url("../../img/logo.png");*/
/*    background-size     : cover;*/
/*    background-repeat   : no-repeat;*/
/*    background-position : center center;*/
/*    width               : 100%;*/
/*    height              : 60px;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .left-zone .page-name {*/
/*    !*font-family               : "Georgia";*!*/
/*    font-size                 : 25px;*/
/*    color                     : #ECDEB7;*/
/*    font-weight               : bold;*/
/*    text-align                : center;*/
/*    -webkit-text-stroke-width : 0.5px;*/
/*    -webkit-text-fill-color   : #5A0A00;*/
/*    position                  : relative;*/
/*    top                       : -10px;*/
/*    line-height               : 18px;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .left-zone .save-button {*/
/*    background-color : red;*/
/*    width            : 20px;*/
/*    height           : 20px;*/
/*    background       : url("../../img/save.png");*/
/*    position         : relative;*/
/*    top              : -30px;*/
/*    left             : 8px;*/
/*}*/
/*!*********************	TITLE - MIDDLE   ******************************************!*/
/*.property-tab-pane[data-name="general_sheet"] .title .middle-zone {*/
/*    width           : calc(100% - 400px);*/
/*    height          : 100px;*/
/*    display         : flex;*/
/*    justify-content : center;*/
/*    align-items     : center;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .middle-zone .middle-left-zone {*/
/*    width  : 50%;*/
/*    height : 100%;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .middle-zone .middle-right-zone {*/
/*    width  : 50%;*/
/*    height : 100%;*/
/*}*/
/*!*********************	TITLE - RIGHT   ******************************************!*/
/*.property-tab-pane[data-name="general_sheet"] .title .right-zone {*/
/*    width  : 150px;*/
/*    height : 100px;*/
/*}*/
/*.property-tab-pane[data-name="general_sheet"] .title .right-zone .property .value {*/
/*    text-align : center;*/
/*}*/


