body {
    background-color : black;
}
.character-content {
    width             : 1240px;
    height            : 1754px;
    margin            : auto;
    background-color  : #D6C6B8;
    background-image  : url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    background-repeat : repeat;
    font-family       : 'Uncial Antiqua', serif;
}
.hidden {
    display : none;
}

/*********************	ALL PROPERTY   ******************************************/
.property-tab-pane[data-name="general_sheet"] .container-property {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
}
.property-tab-pane[data-name="general_sheet"] .container-property .property {
    width : 100%;
}
.property-tab-pane[data-name="general_sheet"] .property {
    border  : 1px solid rgb(90, 10, 0);
    margin  : 2px;
    padding : 2px;
    display : flex;
}
.property-tab-pane[data-name="general_sheet"] .property.horizontal {
    justify-content : center;
    align-items     : center;
    height          : 38px;
}
.property-tab-pane[data-name="general_sheet"] .property.vertical {
    height          : 25px;
    flex-direction  : column;
    justify-content : center;
}
.property-tab-pane[data-name="general_sheet"] .property .label {
    height                    : 100%;
    display                   : flex;
    align-items               : center;
    color                     : rgb(19, 38, 95);
    -webkit-text-stroke-width : 0.2px;
    -webkit-text-fill-color   : #5A0A00;
}
.property-tab-pane[data-name="general_sheet"] .property.horizontal .label {
    width : 100px;
}
.property-tab-pane[data-name="general_sheet"] .property.vertical .label {
    font-size : 10px;
}
.property-tab-pane[data-name="general_sheet"] .property .value {
    background-color          : rgb(241, 244, 255);
    display                   : flex;
    justify-content           : space-around;
    align-items               : center;
    color                     : rgb(19, 38, 95);
    -webkit-text-stroke-width : 0.5px;
    -webkit-text-fill-color   : #5A0A00;
    overflow                  : hidden;
    min-height                : 12px;
}
.property-tab-pane[data-name="general_sheet"] .property.horizontal .value {
    height : 100%;
    width  : calc(100% - 100px);
}
/*********************	TABS ( SHEET )   ******************************************/
.gs-window-group-V2 {
}
.gs-window-element-V2 {
    background: none;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #5a3c00;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}
.gs-window-element-V2[data-current-phase="RUNNING"] {
    font-weight: bold;
  border-bottom: 3px solid #7c5e10;
  background-color: #fff8dc;
}